@font-face {
  font-family: Jazper;
  src: url(font/Jazper.woff);
  font-style:normal;
}
@font-face {
  font-family: isaacIstVergeten;
  src: url(font/AirbnbCerealBold.ttf);
  font-style:normal;
}
/*Reset base padding and margin*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
}

.backgroundContainer {
  min-height: 100vh;
  background-size: cover;
  background-position: 0px 90%;
  padding: 3%;
  display: flex;
  flex-direction: column;
}
.backgroundHomepage {
  background-image: url("images/home-low.webp");
  transition: background-image 0.2s ease-in-out;
}
.backgroundWorkpage {
  background-image: url("images/work-low.webp");
  justify-content: space-between;
}
.backgroundAboutpage {
  background-image: url("images/aboutme-low.webp");
}
.backgroundContactPage {
  background-image: url("images/contact-low.webp");
}
.logo {
  width: 5%;
  min-width: 75px;
}

header {
  display: flex;
}
.siteNav {
  display: flex;
  padding: 10px 1%;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  text-shadow: 0px 0px 9px #948f8f;
  margin-left: 1%;
}
.siteNav a {
  font-size: 20px;
  padding-top: 2px;
  font-family: Jazper;
  height: fit-content;
}
.anchorlink {
  cursor: pointer;
}
.siteNav a:after {
  content: "";
  display: block;
  background: #fff;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  transition: all 0.4s ease;
}
.ytplayer {
  width: 100%;
  height: 500px;
  grid-column: 1 / 3;
}
.smallytplayer {
  width: 100%;
  height: 500px;
}
.verticalpicture {
  height: calc(1000px + 5vh) !important;
  grid-row: span 2;
}
/* .siteNav a:hover{
    color: #6fcdd1
  } */
.siteNav a:hover:after {
  transform: translate(0, -24px);
  background: #6fcdd1;
}

.active:after {
  content: "";
  display: block;
  background: #6fcdd1 !important;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  transform: translate(0, -24px);
}

.socialMediaNav {
  margin-left: auto;
  text-shadow: 0px 0px 9px #948f8f;
}
.socialMediaNav a {
  transition: 0.3s ease-in;
}
.socialMediaNav a:hover {
  transform: translate(0, -24px);
  text-shadow: none;
  color: #6fcdd1;
}
.mission {
  margin: 5% 7%;
}

h1 {
  color: white;
  font-family: Jazper;
  font-size: 54px;
}
.mission p {
  color: white;
  font-family: isaacIstVergeten;
  font-size: 18px;
  text-shadow: 0px 0px 10px #080808;
  margin-top: 10%;
}
.detailPoint {
  color: #6fcdd1;
}
.detailComma {
  font-family: isaacIstVergeten;
}
.attentionSeeker {
  color: white;
  font-family: Jazper;
  font-size: 24px;
  text-align: center;
}
.arrow {
  min-width: 30px;
  width: 2%;
  margin-top: 10px;
}
.workShowcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30vh 30vh 30vh;
  gap: 32px;
  max-width: 1000px;
  margin: 5vh auto;
  grid-template-areas:
    "corporate concerts"
    "bair travel"
    "knokke travel";
}
.workShowcase div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-family: Jazper;
  font-size: 28px;
  text-shadow: 0px 0px 10px #080808;
  background-size: cover;
}
.showcase {
  grid-gap: 5vh;
  display: grid;
  margin: 1vh 5vh 5vh 5vh;
  grid-template-columns: 1fr 1fr;
}
.showcase img {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
}
.travel {
  grid-area: travel;
  background-image: url("images/travel.webp");
  background-size: cover;
}

.knokke {
  grid-area: knokke;
  background-image: url("images/KnokkeHeist.webp");
}

.concerts {
  grid-area: concerts;
  background-image: url("images/concerts.webp");
}

.corporate {
  grid-area: corporate;
  background-image: url("images/corporate.webp");
}

.bair {
  grid-area: bair;
  background-image: url("images/bair.webp");
}
footer {
  display: flex;
  background-image: url("images/footerbackgroundv2.png");
  padding: 3%;
  color: white;
  font-family: isaacIstVergeten;
  font-size: 14px;
}
footer span {
  margin-top: 4px;
}
main {
  flex-grow: 1;
}
main form {
  margin-top: 10vh;
  margin: 10vh auto;
  display: flex;
  max-width: 500px;
  justify-content: center;
  flex-direction: column;

  margin: 1vh 13vh;
}
h3 {
  color: white;
  font-family: isaacIstVergeten;
  font-size: 15px;
  margin-bottom: 6%;
}
label {
  color: white;
  font-family: isaacIstVergeten;
  font-size: 18px;
  margin-bottom: 1%;
}
input,
textarea {
  margin-bottom: 3%;
  padding: 10px;
  border-radius: 10%;
  font-size: 13px;
  border: none;
  background-color: #ffffff99;
  font-family: isaacIstVergeten;
  border: solid 1px #ccc;
  border-radius: 10px;
}
input:focus,
textarea:focus {
  outline: none;
}
button {
  text-align: center;
  width: fit-content;
  padding: 2px 30px;
  border: none;
  background-color: #ffffff;
  font-family: isaacIstVergeten;
  border: solid 1px #ccc;

  border-radius: 10px;
  transition: 0.3s;
}
button:active {
  box-shadow: none;
  border: none;
  outline: none;
  transform: translate(3px, -2px);
}
.thanks h1 {
  font-size: 36px;
}
.thanks {
  margin: 10% auto;
  width: 500px;
  text-shadow: 0px 0px 9px #948f8f;
}
.thanks h3 {
  font-size: 16px;
  color: white;
  margin-top: 10px;
  font-family: IsaacIstVergeten;
}

.fullscreenPic {
  height: 100%;
}
.showcase img {
  cursor: pointer;
}
/*Mobile*/
@media only screen and (max-width: 768px) {
  .workShowcase {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 30vh 30vh 30vh 30vh;
    grid-template-areas: none;
    grid-template-areas:
      "corporate"
      "concerts"
      "knokke"
      "travel"
      "studentKickOff";
  }
  .socialMediaNav {
    display: none;
  }
  .siteNav {
    display: flex;
    padding: 10px 2%;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
    text-shadow: 0px 0px 9px #948f8f;
  }
  .backgroundHomepage {
    background-image: url("images/home-low.webp");
    background-position-x: -400px;
  }
  .backgroundWorkpage {
    background-image: url("images/workmobileversionHD.webp");
    background-position-x: -570px;
    justify-content: space-between;
  }
  .backgroundAboutpage {
    background-position-x: -570px;
    background-image: url("images/aboutme.webp");
  }
  .backgroundContactPage {
    background-image: url("images/contact.webp");
    background-position: 930px;
  }
  .mission h1 {
    margin-top: 20vh;
    font-size: 36px;
  }
  .showcase {
    grid-gap: 5vh;
    display: grid;
    margin: 5vh;
    grid-template-columns: 1fr;
  }
  .showcase img {
    height: auto;
  }
  .ytplayer {
    width: 100%;
    height: 500px;
    grid-column: 1;
  }
  .smallytplayer {
    width: 100%;
    height: 500px;
  }
  main form {
    margin: 4vh;
  }
  .verticalpicture {
    height: auto !important;
    grid-row: span 2;
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(720deg);
  }
}

button {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  width: 80px;
  height: 30px;
  border-radius: 25px;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
}

.spin {
  border: 2px solid #6fcdd1;
  color: #6fcdd1;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.spin span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 200ms ease-in-out;
}
.spin span:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.spin svg {
  height: 30px;
  fill: #6fcdd1;
}
.spin:hover {
  background-color: #6fcdd1;
  color: #fff;
}
.spin.done,
.spin.processing {
  pointer-events: none;
  cursor: default;
}
.spin.processing {
  width: 30px;
  border-width: 4px;
  border-right-color: #bbb;
  border-bottom-color: #bbb;
  animation: spin;
  animation-delay: 200ms;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.spin.processing:hover {
  background-color: transparent;
}
.spin.processing span:first-child {
  opacity: 0;
}
.spin.done:hover {
  background-color: transparent;
}
.spin.done span:first-child {
  opacity: 0;
}
.spin.done span:last-child {
  opacity: 1;
}

.openImage {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

.bigPic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: isaacIstVergeten;
}

.bigPic {
  margin: 0 auto;
}

figure {
  margin: 0;
  padding: 0 0.5rem;
  display: inline-flex;
  flex-direction: column;
}

figure img {
  display: block;
  max-width: 100%;
  max-height: 74vh;
  margin-right: auto;
  margin-left: auto;
  contain: layout;
}

figcaption {
  position: relative;
  padding-top: 1rem;
  margin-top: 1rem;
  text-align: left;
  line-height: 1.375;
}

figcaption h2,
figcaption div,
figcaption dl {
  contain: layout;
}

figcaption h2 {
  view-transition-name: photo-heading;
}

figcaption div {
  view-transition-name: photo-location-time;
}

figcaption dl {
  view-transition-name: photo-meta;
}

::view-transition-new(photo-heading):only-child,
::view-transition-new(photo-location-time):only-child,
::view-transition-new(photo-meta):only-child {
  animation: 0.3s ease var(--animation-delay, 0s) both fade-in,
    0.3s ease var(--animation-delay, 0s) both slide-up;
}

::view-transition-new(photo-heading):only-child {
  --animation-delay: 50ms;
}

::view-transition-new(photo-location-time):only-child {
  --animation-delay: 0.1s;
}

::view-transition-new(photo-meta):only-child {
  --animation-delay: 0.15s;
}

::view-transition-old(photo-heading):only-child,
::view-transition-old(photo-location-time):only-child,
::view-transition-old(photo-meta):only-child {
  animation: 0.2s ease var(--animation-delay, 0s) both fade-out,
    0.2s ease var(--animation-delay, 0s) both slide-down;
}

::view-transition-old(photo-heading):only-child {
  --animation-delay: 0.15s;
}

::view-transition-old(photo-location-time):only-child {
  --animation-delay: 0.1s;
}

::view-transition-old(photo-meta):only-child {
  --animation-delay: 50ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(2.5rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(2.5rem);
  }
}

figcaption:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 2.25rem;
  height: 2px;
  background-color: #6fcdd1;
}

figure h2 {
  margin: 0;
  font-size: 1em;
}

figure h2 a {
  text-decoration: none;
  color: inherit;
}

figure dl {
  margin: 0;
  display: flex;
  align-items: center;
}

figure dt,
figure dd {
  margin: 0;
  display: inline;
  font-size: 1em;
  color: #666;
}

figure dd + dt + dd {
  margin-left: 0.375rem;
}
.backArrow {
  width: 40px;
  margin: 10px;
  color: #ccc;
}
